nav{
    height: 60px;
    width: 100%;
    background-color: black;
    padding: 1.5rem 1rem;
    z-index: 5;
    display: flex;
    align-items: center;
    position: fixed;
}
nav a{
    font-size: 1.0rem;
    font-weight: 600;
    color: white;


}
.sidebar{

    width: 255px;

    /* height: calc(100vh - 56px); */
    min-height: 100%;
    box-shadow: 1px 1px 4px rgb(38, 33, 33);
    padding: 5rem 0.5rem;
    display: flex;
    top: 0;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    overflow: auto;
}
.sidebar a{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(67, 52, 52);
    font-weight: 700;
}
.sidebar a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}

.nav_item{

    border-bottom: 2px solid black;display: none;
}



@media(max-width:700px){
    .sidebar{
        display: none;
    }

}